<div class='chat-root'>
  <div class='chat-header'>
    <h1><span class='chit-title'>Chit</span><span class='chat-title'>Chat</span></h1>
    <h4>Chat To Random Strangers</h4>
  </div>

  <div class='chat-section'>

    <div class='chat-status-label' [ngSwitch]='clientStatus'>
      <p *ngSwitchCase='ClientStatus.idle'>Press New to connect to new stranger</p>
      <p *ngSwitchCase='ClientStatus.waiting' class=''>Please wait while connecting ...</p>
      <p *ngSwitchCase='ClientStatus.chatting' class='chat-title'>You are connected to some stranger</p>
      <p *ngSwitchCase='ClientStatus.connect_error' class='text-red'>Couldn't connect to server</p>
      <p *ngSwitchCase='ClientStatus.disconnect' class='text-red'>disconnected</p>
      <p *ngSwitchCase='ClientStatus.strangerLeft' class='text-red'>disconnected</p>
    </div>


    <div #msgHistoryContainer class='chat-content'>
      <ng-container  *ngFor='let msg of chatMessages' >
        <div *ngIf="msg.usrLabel == 'Me'" class='my-msg'>
         <p class='usr-me'>Me</p>
          <div>
            <p>{{msg.msg}}</p>
          </div>
        </div>

        <div *ngIf="msg.usrLabel == 'Stranger'" class='stranger-msg'>
          <p class='usr-stranger'>Stranger</p>
          <div>
            <p>{{msg.msg}}</p>
          </div>
        </div>

      </ng-container>
    </div>
  </div>

  <div class='message-field'>
   <div class='bottom-nav'>
     <button (click)='connectToStranger()' mat-raised-button color='primary'>{{clientStatus == ClientStatus.chatting || clientStatus == ClientStatus.waiting?'Stop' : 'New'}}</button>
     <textarea matInput [(ngModel)]='clientMsg' placeholder='Type your message here!'></textarea>
     <button (click)='sendMessage()' [disabled]='clientStatus != ClientStatus.chatting' color='accent' mat-raised-button><mat-icon>send</mat-icon></button>
   </div>
  </div>

</div>
